<div class="contact-container">
    <div class="contact-header">
      <h2>Contact Information</h2>
      <hr>
    </div>
    <div class="contact-info">
      <div class="info-block">
        <i class="fa fa-map-marker"></i>
        <h4>Address</h4>
        <p>Bhiwani, Haryana</p>
      </div>
      <div class="info-block">
        <i class="fa fa-phone"></i>
        <h4>Phone Number</h4>
        <p>+91-9992959710</p>
      </div>
      <div class="info-block">
        <i class="fa fa-envelope"></i>
        <h4>Email Address</h4>
        <p>sharmashivam1909gmail.com</p>
      </div>
    </div>
  
    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=...your-location"
        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  
    <div class="message-form">
      <h4>Leave a Message</h4>
      <form>
        <input type="text" placeholder="Name" required>
        <input type="email" placeholder="Email" required>
        <input type="tel" placeholder="Phone" required>
        <textarea placeholder="Message" required></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>