.team-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    width: 100%;
    margin: auto;
    transition: width 0.3s ease-in-out margin-left 0.3s ease-in-out;
    box-sizing: border-box;
    overflow: scroll;
}

.team-section {
    background-color: grey;
    padding: 40px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    flex: 1;
    box-sizing: border-box;
}

.team-title {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.team-member {
    background: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.team-member img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 200px;
    border-radius: 50%;
}

.skills-section {
    background-color: hsla(44, 100%, 50%, 0.798);
    padding: 20px;
    text-align: center;
    flex: 1;
    width: 100%;
    margin: auto;
    transition: width 0.3s ease-in-out;
    box-sizing: border-box;
}

.skills-title {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.skill {
    color: white;
    font-size: 18px;
}

.skill-progress {
    margin-top: 20px;
}

.progress-bar {
    background: #ccc;
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
    margin-bottom: 10px;
}

.progress {
    background: blue;
    height: 100%;
}

@media (max-width: 768px) {
    .team-container {
        width: 100%;
        margin-left: 0;
    }
}